<div class="modal" id="custom-modal">
	<div class="modal-dialog large"  style="width: 960px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">自定义构建配置</h4>
			</div>
            <div class="modal-body" style="height: 460px;overflow-y: auto;">
                <div class="content-block">
                    <form class="form-horizontal" name="form" >
                        <input type="hidden" ng-model="cracker.id"/>
                        <div class="block-content">
                            <div class="panel-body">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label">配置名称:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="cracker.name" required="required"></input>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label">类型:</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                            <button ng-disabled="expression" type="button" class="btn btn-md btn-default" title="私有的构建配置只在您的项目组内使用"
                                                    ng-click="cracker.publicProfile=false"
                                                    ng-class="{'btn-info':!cracker.publicProfile}">私有
                                            </button>
                                            <button ng-disabled="expression" ng-if="role=='admin'" type="button" class="btn btn-md btn-default"
                                                    title="公开的构建配置可以供所有项目组使用"
                                                    ng-click="cracker.publicProfile=true"
                                                    ng-class="{'btn-info':cracker.publicProfile}">公开
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" ng-if="!cracker.publicProfile">
                                    <label class="col-sm-3 control-label">所属项目组:</label>
                                    <div class="col-sm-9">
                                        <select ng-disabled="expression" class="form-control" ng-model="cracker.teamId"
                                                required="required"
                                                placeholder="项目组"
                                                ng-change="getNamespacesByTeam()"
                                                ng-options="team.id as team.name for team in teams">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label">所属命名空间:</label>
                                    <div class="col-sm-9">
                                        <select ng-disabled="expression" class="form-control" ng-model="cracker.nameSpace">
                                            <option ng-repeat="namespace in teamNamespaces" value="{{namespace.code}}">
                                                {{namespace.code}} ({{namespace.name}})
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label" style="padding-right: 8px;">clone代码:</label>
                                    <div class="col-sm-6">
                                        <div class="btn-group pull-left col-xs-12" style="padding-left: 7px;">
                                            <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                    ng-click="cracker.skipCloneCode=false"
                                                    ng-class="{'btn-success':!cracker.skipCloneCode}">开启
                                            </button>
                                            <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                    ng-click="cracker.skipCloneCode=true"
                                                    ng-class="{'btn-danger':cracker.skipCloneCode}">关闭
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-6 control-label">maven build:</label>
                                    <div class="col-sm-6">
                                        <div class="btn-group pull-left col-xs-12" style="padding-left: 7px;">
                                            <button  ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                    ng-click="cracker.skipMvnBuild=false"
                                                    ng-class="{'btn-success':!cracker.skipMvnBuild}">开启
                                            </button>
                                            <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                    ng-click="cracker.skipMvnBuild=true"
                                                    ng-class="{'btn-danger':cracker.skipMvnBuild}">关闭
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-3 control-label">自定义构建参数:</label>
                                    <div class="col-sm-9">
                                        <input ng-disabled="expression" type="text" class="form-control" ng-model="cracker.buildParam"
                                            placeholder="默认为: mvn clean install"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">代码库操作</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">打Tag:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.addTag=true"
                                                        ng-class="{'btn-success':cracker.addTag}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.addTag=false"
                                                        ng-class="{'btn-danger':!cracker.addTag}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.addTag">
                                            <label class="control-label"><font color="red">注意：只有提测审批通过，或者上线审批通过后，才能执行此过程，对已有的分支，打tag。</font></label>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.addTag">
                                            <label class="col-sm-6 control-label">Tag前缀:</label>
                                            <div class="col-sm-6">
                                                <input ng-disabled="expression" type="text" class="form-control" ng-model="cracker.tagPrefix"
                                                    placeholder="例如：TEST/PROD"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">更新Tag:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateTag=true"
                                                        ng-class="{'btn-success':cracker.updateTag}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateTag=false"
                                                        ng-class="{'btn-danger':!cracker.updateTag}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.updateTag">
                                            <label class="control-label"><font color="red">注意：此过程会更新tag，用于提测失败后，再次合并代码后的构建过程。</font></label>
                                        </div>
                                    </div>									
									
									
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">创建分支:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.createBranch=true"
                                                        ng-class="{'btn-success':cracker.createBranch}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.createBranch=false"
                                                        ng-class="{'btn-danger':!cracker.createBranch}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.createBranch">
                                            <label class="control-label"><font
                                                    color="red">注意：只有提测审批通过后，才能执行此过程,基于master，自动创建分支。</font></label>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.createBranch">
                                            <label class="col-sm-6 control-label" >分支前缀:</label>
                                            <div class="col-sm-6">
                                                <input  ng-disabled="expression" type="text" class="form-control" ng-model="cracker.releasePrefix"
                                                    placeholder="例如：TEST"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">镜像构建</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">docker镜像构建:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-sm-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDockerBuild=false"
                                                        ng-class="{'btn-success':!cracker.skipDockerBuild}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDockerBuild=true"
                                                        ng-class="{'btn-danger':cracker.skipDockerBuild}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">制品晋级:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.upgradeDocker=true"
                                                        ng-class="{'btn-success':cracker.upgradeDocker}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.upgradeDocker=false"
                                                        ng-class="{'btn-danger':!cracker.upgradeDocker}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.upgradeDocker">
                                            <label class="control-label"><font
                                                    color="red">注意：只有上线审批通过后，才能执行此过程，需要选择晋级前的仓库，例如(test).</font></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">镜像运行平台:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-sm-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.buildArm64Image=false"
                                                        ng-class="{'btn-success':!cracker.buildArm64Image}">x86
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.buildArm64Image=true"
                                                        ng-class="{'btn-danger':cracker.buildArm64Image}">ARM
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">单测与源代码扫描</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">源码质量及漏洞扫描:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipScan=false"
                                                        ng-class="{'btn-success':!cracker.skipScan}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipScan=true"
                                                        ng-class="{'btn-danger':cracker.skipScan}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 5px;" ng-if="!cracker.skipScan">
                                            <label class="col-sm-6 control-label">扫描JavaScript:</label>
                                            <div class="col-sm-6">
                                                <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                    <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                            ng-click="cracker.skipJsScan=false"
                                                            ng-class="{'btn-success':!cracker.skipJsScan}">开启
                                                    </button>
                                                    <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                            ng-click="cracker.skipJsScan=true"
                                                            ng-class="{'btn-danger':cracker.skipJsScan}">关闭
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">单元测试及覆盖率检查:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipUnitTest=false"
                                                        ng-class="{'btn-success':!cracker.skipUnitTest}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipUnitTest=true"
                                                        ng-class="{'btn-danger':cracker.skipUnitTest}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">工程依赖包安全检查:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDependencyCheck=false"
                                                        ng-class="{'btn-success':!cracker.skipDependencyCheck}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDependencyCheck=true"
                                                        ng-class="{'btn-danger':cracker.skipDependencyCheck}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">扫描SQL(支持ibatis/mybatis):</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipSqlScan=false"
                                                        ng-class="{'btn-success':!cracker.skipSqlScan}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipSqlScan=true"
                                                        ng-class="{'btn-danger':cracker.skipSqlScan}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label" >敏感sql脚本提醒:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sqlRemind=true"
                                                        ng-class="{'btn-success':cracker.sqlRemind}">开启</button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sqlRemind=false"
                                                        ng-class="{'btn-danger':!cracker.sqlRemind}">关闭</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">k8s部署</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">k8s自动发布/部署:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDeploy=false"
                                                        ng-class="{'btn-success':!cracker.skipDeploy}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.skipDeploy=true"
                                                        ng-class="{'btn-danger':cracker.skipDeploy}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">k8s自动部署(包含初始化应用):</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.initDeploy=true"
                                                        ng-class="{'btn-success':cracker.initDeploy}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.initDeploy=false"
                                                        ng-class="{'btn-danger':!cracker.initDeploy}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.initDeploy">
                                            <label class="control-label"><font color="red">注意：此命令，会在应用部署之前，先启动初始化的应用，一般用于数据库脚本执行。</font></label>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">k8s重启发布/部署:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.restartDeploy=true"
                                                        ng-class="{'btn-success':cracker.restartDeploy}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.restartDeploy=false"
                                                        ng-class="{'btn-danger':!cracker.restartDeploy}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.restartDeploy">
                                            <label class="control-label"><font color="red">注意：此命令，不会重新部署，只会重启原有的应用，进行升级。</font></label>
                                        </div>
                                    </div>
        
        
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">k8s自动回滚:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.rollout=true"
                                                        ng-class="{'btn-success':cracker.rollout}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.rollout=false"
                                                        ng-class="{'btn-danger':!cracker.rollout}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-8" ng-if="cracker.rollout">
                                            <label class="control-label"><font color="red">注意：只能自动回滚到上一个版本。</font></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">更新Job:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateJob=true"
                                                        ng-class="{'btn-success':cracker.updateJob}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateJob=false"
                                                        ng-class="{'btn-danger':!cracker.updateJob}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.updateJob">
                                            <label class="control-label"><font color="red">注意：此过程，是对一次性运行的job进行更新。</font></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">数据库脚本变更</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">数据库正反正验证:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sqlScript=true"
                                                        ng-class="{'btn-success':cracker.sqlScript}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sqlScript=false"
                                                        ng-class="{'btn-danger':!cracker.sqlScript}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.checkPom">
                                            <label class="control-label"><font
                                                    color="red">注意：提测之后，需要执行POM检查，不允许pom文件中包含snapshot三方包。</font></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">指定yaml更新:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.assignYaml=true"
                                                        ng-class="{'btn-success':cracker.assignYaml}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.assignYaml=false"
                                                        ng-class="{'btn-danger':!cracker.assignYaml}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-10" style="margin-top: 5px;" ng-if="cracker.assignYaml">
                                            <input type="text" class="form-control" ng-model="cracker.assignYamlPath"
                                                placeholder="yml路径"></input>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">反向yaml执行:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.rollbackYaml=true"
                                                        ng-class="{'btn-success':cracker.rollbackYaml}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.rollbackYaml=false"
                                                        ng-class="{'btn-danger':!cracker.rollbackYaml}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-10" style="margin-top: 5px;" ng-if="cracker.rollbackYaml">
                                            <input type="text" class="form-control" ng-model="cracker.rollbackYamlPath"
                                                placeholder="yml路径"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">其他</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">检查POM:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.checkPom=true"
                                                        ng-class="{'btn-success':cracker.checkPom}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.checkPom=false"
                                                        ng-class="{'btn-danger':!cracker.checkPom}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.checkPom">
                                            <label class="control-label"><font
                                                    color="red">注意：提测之后，需要执行POM检查，不允许pom文件中包含snapshot三方包。</font></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">是否上线部署:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.onlineDeploy=true"
                                                        ng-class="{'btn-success':cracker.onlineDeploy}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.onlineDeploy=false"
                                                        ng-class="{'btn-danger':!cracker.onlineDeploy}">关闭
                                                </button>
                                            </div>
                                            <!--                                    <div class="col-xs-8" ng-if="cracker.checkPom">-->
                                            <!--                                        <label class="control-label"><font color="red">注意：提测之后，需要执行POM检查，不允许pom文件中包含snapshot三方包。</font></label>-->
                                            <!--                                    </div>-->
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">是否关注红灯修复:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.focusRedlightRepair=true"
                                                        ng-class="{'btn-success':cracker.focusRedlightRepair}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.focusRedlightRepair=false"
                                                        ng-class="{'btn-danger':!cracker.focusRedlightRepair}">关闭
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="col-sm-6 control-label">更新(配置中心)配置文件:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateConfig=true"
                                                        ng-class="{'btn-success':cracker.updateConfig}">开启
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.updateConfig=false"
                                                        ng-class="{'btn-danger':!cracker.updateConfig}">关闭
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="cracker.updateConfig">
                                            <label class="control-label"><font color="red">注意：打开此开关，会自动更新nacos对应的配置文件。</font></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" ng-if="cracker.updateConfig">
                                        <label class="col-sm-3 control-label">配置文件路径:</label>
                                        <div class="col-sm-9" style="padding-left: 7px;">
                                            <input ng-disabled="expression" type="text" class="form-control" ng-model="cracker.configPath"
                                                placeholder="注意：如果不指定，默认使用本构建过程的命名空间为根路径"></input>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label">构建结果邮件通知:</label>
                                        <div class="col-sm-9" style="padding-left: 7px;">
                                            <div class="col-xs-8 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sendMailSwitch= 'TOTAL'"
                                                        ng-class="{'btn-success':cracker.sendMailSwitch == 'TOTAL' }">成功/失败
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.sendMailSwitch= 'FAIL'"
                                                        ng-class="{'btn-success':cracker.sendMailSwitch == 'FAIL' }">仅失败
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-3 control-label">自动化测试任务:</label>
                                        <div class="col-sm-9" style="padding-left: 7px;">
                                            <div class="col-sm-12 btn-group pull-left " style="padding: 0 0;">
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.testSwitch= 'CLOSED'"
                                                        ng-class="{'btn-success':cracker.testSwitch == 'CLOSED' }">关闭
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.testSwitch= 'INCREMENT_TEST'"
                                                        ng-class="{'btn-success':cracker.testSwitch == 'INCREMENT_TEST' }">代码推送/合并增量测试
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.testSwitch= 'TOTAL_TEST'"
                                                        ng-class="{'btn-success':cracker.testSwitch == 'TOTAL_TEST' }">日终全量测试
                                                </button>
                                                <button ng-disabled="expression" type="button" class="btn btn-md btn-default"
                                                        ng-click="cracker.testSwitch= 'MAO_YAN'"
                                                        ng-class="{'btn-success':cracker.testSwitch == 'MAO_YAN' }">冒烟测试
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
               </div>
            </div>
            <div class="block-footer" style="height: 48px;">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9" >
                        <div class="col-sm-4">
                            <button  ng-if="!cracker.publicProfile||(cracker.publicProfile&&role=='admin')"
                                    class="btn btn-primary col-sm-12" ng-click="save()" ng-disabled="form.$invalid||expression">保存
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-default" ng-click="closeModal()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>