<link rel="stylesheet" href="js/angularjs-datetime-picker/wui.min.css"/>
<div class="modal">
    <div class="modal-dialog large">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">请选择自定义构建配置</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="content-block">
                    <form class="form-horizontal" name="form">
                        <div class="block-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >项目组:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="team" ng-change="teamChanged()">
                                        <option value>请选择</option>
                                        <option ng-repeat="team in teams" ng-value="team">{{team.teamName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >构建过程命名空间:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="nameSpace" ng-change="nameSpaceChanged()" ng-disabled="!team"
                                            placeholder="根据命名空间筛选对于的构建过程">
                                        <option value>请选择</option>
                                        <option ng-repeat="ns in teamNamespaces" ng-value="ns">{{ns.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >构建过程配置:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="profile"
                                            placeholder="自定义配置">
                                        <option value>默认</option>
                                        <option ng-repeat="profile in buildProfiles" ng-value="profile.id">{{profile.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >部署版本配置:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="dockerImageTag"
                                            placeholder="自定义配置">
                                        <option selected="selected" value>默认读取最新版本</option>
                                        <option ng-repeat="docker in dockerImage" value="docker.imageTag">
                                            {{docker.pullUrl}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >构建分支:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="默认读取项目配置的分支"
                                           ng-model="arriveTagName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >应用回滚版本:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="应用回滚版本： 当构建过程中包含自动回滚的时候展示"
                                           ng-model="rolloutVersion"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >数据库回滚日期:</label>
                                <div class="col-sm-4">
                                    <wui-date
                                            format="yyyy-mm-dd hh:mm"
                                            placeholder="请选择或输入回滚日期"
                                            id="date1"
                                            btns="{'ok':'确定','now':'此刻'}"
                                            ng-model="releaseDate"
                                    >
                                    </wui-date>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >数据库地址:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="" ng-model="dbUrl"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >数据库用户名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="dbUserName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >数据库密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="dbPassword"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >gitlab-api域名(ip端口)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="gitlabApiUrl" ng-init="gitlabApiUrl='gitlab-api.iss-devops.cn'"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="closeModal()" ng-disabled="isLoading">取消
                </button>
                <button type="button" class="btn btn-primary"
                        ng-click="startBuild()" ng-disabled="isLoading">{{isLoading?'正在创建任务':'开始构建'}}
                </button>
            </div>
        </div>
    </div>
</div>
