<div class="content-block panel-block">
	<div class="block-title">项目组私有构建资源信息</div>
	<form class="form-horizontal" name="form">
	    <input type="hidden" ng-model="entity.id"/>
		<div class="block-content">
            <div class="form-group">
                <label class="col-sm-2 control-label">项目组:</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="entity.teamId" 
                            required="required" 
                            placeholder="项目组" 
                            ng-options="team.id as team.name for team in teams">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jenkins Master Server:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="entity.jenkinsUrl" placeholder="jenkins服务器地址,集群以逗号隔开，例如server1,server2,server3"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Jenkins Kubernetes:</label>
                <div class="col-sm-2">
                <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" title=""
                                        ng-click="entity.jenkinsK8sSupport=false"
                                        ng-class="{'btn-info':!entity.jenkinsK8sSupport}">不支持</button>
                                    <button  type="button" class="btn btn-md btn-default" title=""
                                        ng-click="entity.jenkinsK8sSupport=true"
                                        ng-class="{'btn-info':entity.jenkinsK8sSupport}">支持</button>
                                 </div>
                </div>
                 <label ng-if="entity.jenkinsK8sSupport" class="col-sm-8" style="color:red;">注意：Jenkins Master Server需安装<a href="https://plugins.jenkins.io/kubernetes/" target="_blank">Kubernetes插件</a>，设置api server地址并且添加了名为"ci-image-pull-secret"的imagePullSecret</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">SonarQube Server:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="entity.sonarUrl" placeholder="sonar服务器地址,集群以逗号隔开,例如server1,server2,server3"/>
                </div>
            </div>
		</div>
		<div class="block-footer">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				   <div class="col-sm-4">
					<button  class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">保存</button>
				  </div>
				  <div class="col-sm-4">
					<button  class="btn btn-default" ng-click="back()">返回</button>
				 </div>
				</div>
			</div>
		</div>
	</form>
</div>