<div class="content-block panel-block">
	<div class="block-title">自动构建任务设置</div>
	<form class="form-horizontal" name="dataForm">
	    <input type="hidden" ng-model="entity.id"/>
		<div class="block-content">
			<div class="form-group">
				<label class="col-sm-2 control-label">任务说明:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="entity.name" placeholder="任务备注" required="required"/>
				</div>
			</div>

            <div class="form-group">
                <label class="col-sm-2 control-label">报告发送至:</label>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="entity.teamId"
                            required="required"
                            placeholder="项目组"
                            ng-options="team.id as team.name for team in teams" ng-change="searchTeamJobs()">
                    </select>
                </div>

            </div>

			<div class="form-group">

                <label class="col-sm-2 control-label">触发方式:</label>
                <div class="col-sm-10">
                    <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                        <button type="button" class="btn btn-md btn-default" title="按固定周期和时间计划执行"
                                ng-click="entity.triggerType='cron'"
                                ng-class="{'btn-info':entity.triggerType=='cron'}">时间计划</button>
                        <button type="button" class="btn btn-md btn-default" title="GitLab通知触发"
                                ng-click="entity.triggerType='git_web_hook'"
                                ng-class="{'btn-info':entity.triggerType=='git_web_hook'}">GitLab钩子</button>
                        <button type="button" class="btn btn-md btn-default" title="手工触发任务"
                                ng-click="entity.triggerType='manual'"
                                ng-class="{'btn-info':entity.triggerType=='manual'}">手工触发</button>
                        <button type="button" class="btn btn-md btn-default" title="监听任务执行完毕"
                                ng-click="entity.triggerType='watch_job_executed';searchTeamJobs()"
                                ng-class="{'btn-info':entity.triggerType=='watch_job_executed'}">监听其他任务</button>
                    </div>
                </div>

                </div>
            <div class="form-group">
                <div class="form-group" ng-if="entity.triggerType=='watch_job_executed'">
                    <label class="col-sm-2 control-label">执行条件:</label>
                    <div class="col-sm-4 btn-group">
                        <button type="button" class="btn btn-md btn-default" title="前置任务全部成功"
                                ng-click="entity.preTaskStatus='SUCCEED_ALL'"
                                ng-class="{'btn-info':entity.preTaskStatus=='SUCCEED_ALL'}">前置任务全部成功</button>
                        <button type="button" class="btn btn-md btn-default" title="最后前置任务成功"
                                ng-click="entity.preTaskStatus='SUCCEED_PARTIAL'"
                                ng-class="{'btn-info':entity.preTaskStatus=='SUCCEED_PARTIAL'}">前置任务部分成功</button>
                    </div>

                    <label class="col-sm-2 control-label">前置构建任务:</label>
                    <div class="col-sm-4">
                        <select  class="form-control" ng-model="entity.watchJobId"
                                 required="required"
                                 placeholder="项目组"
                                 ng-options="job.id as job.name for job in teamJobs" ng-change="entity.watchJobName =  job.name" ></select>
                    </div>
            </div>

                <label class="col-sm-2 control-label" ng-if="role=='admin'||role=='audit'">质量管理任务:</label>
                <div class="col-sm-4" ng-if="role=='admin'||role=='audit'">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" 
                                        ng-click="entity.qaJob=true"
                                        ng-class="{'btn-info':entity.qaJob}">是</button>
                                    <button type="button" class="btn btn-md btn-default"
                                        ng-click="entity.qaJob=false"
                                        ng-class="{'btn-info':!entity.qaJob}">否</button>
                                    <div style="padding:5px 10px;color:red;">(质量管理任务只有审计人员可见)</div>
                                 </div>
                </div>
            </div>
			<div class="form-group" ng-if="entity.triggerType=='cron'">
                <label class="col-sm-2 control-label">时间计划:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="entity.cron" placeholder="CRON表达式" required="required"/>
                    <a href="http://cron.qqe2.com/" target="_blank" style="font-size:10px;">点这里在线生成 </a>
                </div>
            </div>
            <div class="form-group" ng-if="entity.triggerType=='git_web_hook'">
                <label class="col-sm-2 control-label">认证Token:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.webHookToken" placeholder="Token用于回调时的认证" required="required"/>
                </div>
                <label class="col-sm-2 control-label">回调URL:</label>
                <div class="col-sm-4">
                    <span class="form-control" ng-if="entity.id==null" style="color:red">请先保存</span>
                    <span class="form-control" ng-if="entity.id!=null">{{baseUrl}}/ci/wh/job?id={{entity.id}}</span>
                </div>
            </div>
            <div class="form-group">
                                <label class="col-sm-2 control-label">构建过程配置:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="entity.profileId"
                                             placeholder="自定义配置">
                                             <option value>默认(全过程)</option>
                                             <option ng-repeat="profile in profiles" ng-value="profile.id">{{profile.name}}</option>
                                    </select>
                                </div>
             </div>
             <div class="form-group">

                                <label class="col-sm-2 control-label">仅在构建失败时报告:</label>
                                <div class="col-sm-2">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" title="只在构建失败时发送报告邮件"
                                        ng-click="entity.sendMailOnFail=true"
                                        ng-class="{'btn-info':entity.sendMailOnFail}">是</button>
                                    <button type="button" class="btn btn-md btn-default" title="成功或失败均发送报告邮件"
                                        ng-click="entity.sendMailOnFail=false"
                                        ng-class="{'btn-info':!entity.sendMailOnFail}">否</button>
                                 </div>
                                 </div>
                                 <label class="col-sm-2 control-label">推送钉钉消息:</label>
                                <div class="col-sm-2">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" 
                                        ng-click="entity.notifyDingtalk=true"
                                        ng-class="{'btn-info':entity.notifyDingtalk}">是</button>
                                    <button type="button" class="btn btn-md btn-default"
                                        ng-click="entity.notifyDingtalk=false"
                                        ng-class="{'btn-info':!entity.notifyDingtalk}">否</button>
                                 </div>
                                 </div>
             </div>
             <div class="form-group" ng-if="entity.notifyDingtalk==true">
                <label class="col-sm-2 control-label">钉钉secret:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.dingtalkWebHook.secret" placeholder="通知密钥" required="required"/>
                </div>
                <label class="col-sm-2 control-label">钉钉Web Hook:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.dingtalkWebHook.url" placeholder="Web Hook URL" required="required"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">工程项目:</label>
                <div class="col-sm-10" >
                    <div class="btn-group  col-xs-12" style="padding: 0 0;">
                                    <button class="btn btn-default" ng-click="showAddModel()">添加</button>
                                    <button class="btn btn-default" ng-click="delSelected()">删除</button>
                                    <button class="btn btn-default" ng-click="moveUp()"><i class="fa fa-angle-double-up"></i>上移顺序</button>
                                    <button class="btn btn-default" ng-click="moveDown()"><i class="fa fa-angle-double-down"></i>下移顺序</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                <table class="table table-condensed table-hover table-bordered">
                                   <thead>
                                   <tr style="background-color:rgba(0, 0, 0, 0.01);"><th width="100px">执行顺序</th><th width="40%">工程名称</th><th>备注</th></tr>
                                   </thead>
                                   <tbody>
                                   <tr ng-repeat="project in entity.projects" ng-click="updateSelection($event,project.id)" ng-class="{danger:isSelected(project.id)}">
                                       <td>{{$index+1}}</td>
                                       <td>{{project.name}}</td>
                                       <td>{{project.description}}</td>
                                   </tr>
                                   </tbody>
                                   </table>
                </div>
            </div>
            
		</div>
		<div class="block-footer">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				   <div class="col-sm-4">
					<button  class="btn btn-primary" ng-click="save()" ng-disabled="dataForm.$invalid">保存</button>
				  </div>
				  <div class="col-sm-4">
					<button  class="btn btn-default" ng-click="back()">返回</button>
				 </div>
				</div>
			</div>
		</div>
	</form>
</div>