<div class="content-block panel-block">
	<div class="block-title">上线部署</div>
	<form class="form-horizontal" name="dataForm">
	    <input type="hidden" ng-model="entity.id"/>
		<div class="block-content">
			<div class="form-group">
				<label class="col-sm-2 control-label">任务说明:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="entity.name" placeholder="任务备注" required="required"/>
				</div>
			</div>
			<div class="form-group">

                <label class="col-sm-2 control-label">触发方式:</label>
                <div class="col-sm-3">
                    <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                        <button type="button" class="btn btn-md btn-default" title="按固定周期和时间计划执行"
                                ng-click="entity.triggerType='cron'"
                                ng-class="{'btn-info':entity.triggerType=='cron'}">时间计划</button>
                        <button type="button" class="btn btn-md btn-default" title="手工触发任务"
                                ng-click="entity.triggerType='manual'"
                                ng-class="{'btn-info':entity.triggerType=='manual'}">手工触发</button>
                    </div>
                </div>

                <label ng-show="entity.onLine" class="col-sm-2 control-label">请选择上线tag:</label>
                <div class="col-sm-2" ng-if="entity.onLine">
                    <input type="text" class="form-control" ng-model="entity.onlineTag" placeholder="上线tag" required="required"/>
                </div>
                <label class="col-sm-2 control-label" ng-if="role=='admin'||role=='audit'">质量管理任务:</label>
                <div class="col-sm-4" ng-if="role=='admin'||role=='audit'">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" 
                                        ng-click="entity.qaJob=true"
                                        ng-class="{'btn-info':entity.qaJob}">是</button>
                                    <button type="button" class="btn btn-md btn-default"
                                        ng-click="entity.qaJob=false"
                                        ng-class="{'btn-info':!entity.qaJob}">否</button>
                                    <div style="padding:5px 10px;color:red;">(质量管理任务只有审计人员可见)</div>
                                 </div>
                </div>
            </div>
			<div class="form-group" ng-if="entity.triggerType=='cron'">
                <label class="col-sm-2 control-label">时间计划:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="entity.cron" placeholder="CRON表达式" required="required"/>
                    <a href="http://cron.qqe2.com/" target="_blank" style="font-size:10px;">点这里在线生成 </a>
                </div>
            </div>
            <div class="form-group" ng-if="entity.triggerType=='git_web_hook'">
                <label class="col-sm-2 control-label">认证Token:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.webHookToken" placeholder="Token用于回调时的认证" required="required"/>
                </div>
                <label class="col-sm-2 control-label">回调URL:</label>
                <div class="col-sm-4">
                    <span class="form-control" ng-if="entity.id==null" style="color:red">请先保存</span>
                    <span class="form-control" ng-if="entity.id!=null">{{baseUrl}}/ci/wh/job?id={{entity.id}}</span>
                </div>
            </div>
            <div class="form-group">
                                <label class="col-sm-2 control-label">构建过程配置:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" ng-model="entity.profileId"
                                             placeholder="自定义配置">
                                             <option value>默认(全过程)</option>
                                             <option ng-repeat="profile in profiles" ng-value="profile.id">{{profile.name}}</option>
                                    </select>
                                </div>
             </div>
             <div class="form-group">
                                <label class="col-sm-2 control-label">报告发送至:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="entity.teamId"
                                        required="required" 
                                        placeholder="项目组" 
                                        ng-options="team.id as team.name for team in teams">
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">仅在构建失败时报告:</label>
                                <div class="col-sm-2">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" title="只在构建失败时发送报告邮件"
                                        ng-click="entity.sendMailOnFail=true"
                                        ng-class="{'btn-info':entity.sendMailOnFail}">是</button>
                                    <button type="button" class="btn btn-md btn-default" title="成功或失败均发送报告邮件"
                                        ng-click="entity.sendMailOnFail=false"
                                        ng-class="{'btn-info':!entity.sendMailOnFail}">否</button>
                                 </div>
                                 </div>
                                 <label class="col-sm-2 control-label">推送钉钉消息:</label>
                                <div class="col-sm-2">
                                 <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                                    <button type="button" class="btn btn-md btn-default" 
                                        ng-click="entity.notifyDingtalk=true"
                                        ng-class="{'btn-info':entity.notifyDingtalk}">是</button>
                                    <button type="button" class="btn btn-md btn-default"
                                        ng-click="entity.notifyDingtalk=false"
                                        ng-class="{'btn-info':!entity.notifyDingtalk}">否</button>
                                 </div>
                                 </div>
             </div>
             <div class="form-group" ng-if="entity.notifyDingtalk==true">
                <label class="col-sm-2 control-label">钉钉secret:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.dingtalkWebHook.secret" placeholder="通知密钥" required="required"/>
                </div>
                <label class="col-sm-2 control-label">钉钉Web Hook:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="entity.dingtalkWebHook.url" placeholder="Web Hook URL" required="required"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">工程项目:</label>
                <div class="col-sm-10" >
                    <div class="btn-group  col-xs-12" style="padding: 0 0;">
                                    <button class="btn btn-default" ng-click="moveUp()"><i class="fa fa-angle-double-up"></i>上移顺序</button>
                                    <button class="btn btn-default" ng-click="moveDown()"><i class="fa fa-angle-double-down"></i>下移顺序</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <table class="table table-condensed table-hover table-bordered" ng-if="entity.status!='IN_PROGRESS'">
                        <thead>
                            <tr style="background-color:rgba(0, 0, 0, 0.01);">
                                <th width="100px">执行顺序</th>
                                <th width="40%">工程名称</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in entity.projects" ng-click="updateSelection($event,project.id)" ng-class="{danger:isSelected(project.id)}">
                                <td>{{$index+1}}</td>
                                <td>{{project.name}}</td>
                                <td>{{project.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed table-hover table-bordered" ng-if="entity.status=='IN_PROGRESS'">
                        <thead>
                            <tr style="background-color:rgba(0, 0, 0, 0.01);">
                                <th width="100px">执行顺序</th>
                                <th width="40%">工程名称</th>
                                <th>备注</th>
                                <th>流水线状态</th>
                                <th>门禁结果</th>
                                <th>查看详情</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="jobOnlineProjectVo in entity.jobOnlineProjectVos" ng-click="updateSelection($event,project.id)" ng-class="{danger:isSelected(project.id)}">
                                <td>{{$index+1}}</td>
                                <td>{{jobOnlineProjectVo.name}}</td>
                                <td>{{jobOnlineProjectVo.description}}</td>
                                <td>
                                    <span ng-if="jobOnlineProjectVo.status=='SUCCESS'" class="tdLabel label-success">成功</span>
                                    <span ng-if="jobOnlineProjectVo.status=='FAILED'" class="tdLabel label-danger">失败</span>
                                    <span ng-if="jobOnlineProjectVo.status=='IN_PROGRESS'" class="tdLabel label-progress">执行中</span>
                                    <span ng-if="jobOnlineProjectVo.status=='UNSTABLE'" class="tdLabel label-unstable">成功(不稳定)</span>
                                    <span ng-if="jobOnlineProjectVo.status=='ABORTED'" class="tdLabel label-cancel">已取消</span>
                                    <span ng-if="jobOnlineProjectVo.status=='ASSERT_WARNRULE_FAILED'" class="tdLabel label-failed">门禁判定失败</span>
                                    <span ng-if="jobOnlineProjectVo.status=='WAIT_AUTO_TEST_RESULT'" class="tdLabel label-wait">等待测试结果</span>
                                    <span ng-if="jobOnlineProjectVo.status=='NOT_EXECUTED'" class="tdLabel label-cancel">未执行</span>
                                </td>
                                <td>
                                    <span ng-if="jobOnlineProjectVo.statusGuard" class="tdLabel label-success">通过</span>
                                    <span ng-if="!jobOnlineProjectVo.statusGuard" class="tdLabel label-danger">未通过</span>
                                </td>
                                <td>
                                    <a href="javaScript:null;" ng-click="viewDetails(jobOnlineProjectVo)">查看</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
		</div>
		<div class="block-footer">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				   <div class="col-sm-4">
					<button  class="btn btn-primary" ng-click="save()" ng-disabled="dataForm.$invalid">保存</button>
				  </div>
				  <div class="col-sm-4">
					<button  class="btn btn-default" ng-click="back()">返回</button>
				 </div>
				</div>
			</div>
		</div>
	</form>
</div>