# Default ignored files
*.log
*.temp
.project
*.prefs
.classpath
h2/*
h2
generated_code/*
generated_code
.settings
.settings/*
target/*
target
.factorypath
.idea/*
.idea
*.iml
#maven
*.releaseBackup
release.properties