<div class="modal">
	<div class="modal-dialog large" style="width:60%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">审批建议</h4>
			</div>
			<div class="modal-body" align="center">
				<form class="form-horizontal" name="dataForm">
					<div class="form-group">
						<label class="col-sm-2 control-label">审批建议:</label>
						<div class="col-sm-10">
							<textarea  class="form-control" ng-model="entity.batchDetail"  rows="5"></textarea>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="col-sm-4">
						<button class="btn btn-primary" ng-click="confirmAdd()"
								ng-disabled="dataForm.$invalid">确定</button>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-default" ng-click="closeModal()">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>