<div class="content-block panel-block" ng-controller="projectBatchImportController">
	<div class="block-title">项目工程批量导入-上传excel</div>
	<form class="form-horizontal" name="form">
		<div class="block-content">
            <div class="form-group">
                <label class="col-sm-1 control-label">上传文件:</label>
                <div class="col-sm-5">
                    <uploader name="上传" url="/api/projectBatchImport/upload"></uploader>
                    <a href="app/project/import-template.xlsx">下载模板</a>
                </div>
            </div>
            <table id="table" bs-table-control="tableControl" ></table>
            <div class="form-group" ng-if="entity.uploaded">
                <label class="col-sm-2 control-label">所属项目组:</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="entity.teamId"
                            required="required" 
                            placeholder="项目组" 
                            ng-options="team.id as team.name for team in teams">
                    </select>
                </div>
                <label class="col-sm-2 control-label">默认构建过程:</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="entity.defaultProfileId"
                            ng-options="profile.id as profile.name for profile in profiles">
                            <option value="">全过程</option>
                    </select>
                </div>
            </div>
		</div>
		
		<div class="block-footer">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				   <div class="col-sm-4">
					<button  class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid||!entity.uploaded">保存</button>
				  </div>
				  <div class="col-sm-4">
					<button  class="btn btn-default" ng-click="back()">返回</button>
				 </div>
				</div>
			</div>
		</div>
	</form>
</div>