<div id="toolbar" class="btn-group">
	<button id="add" class="btn btn-default" ng-click="add()">
		<i class="glyphicon glyphicon-plus"></i> 新增
	</button>
	<button id="remove" class="btn btn-default" ng-click="remove()">
		<i class="glyphicon glyphicon-remove"></i> 删除
	</button>
	<button id="batch" class="btn btn-default" ng-click="batchImport()">
        <i class="glyphicon glyphicon-plus"></i> 批量导入
    </button>
    <button id="scan" class="btn btn-default" ng-click="scanSvn()">
        <i class="glyphicon glyphicon-plus"></i> 从SVN扫描
    </button>
	<button id="viewHistory" class="btn btn-default" ng-click="viewHistory()">
		<i class="glyphicon glyphicon-folder-open"></i> 查看历史版本
	</button>
</div>
<table id="table" bs-table-control="tableControl"></table>