<div class="modal">
	<div class="modal-dialog large">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">环境变量设置</h4>
			</div>
			<div class="modal-body" align="center">
				<div class="content-block">
					<form class="form-horizontal" name="form">
						<div class="block-content">
						    <input type="hidden" ng-model="env.id"></input>
							<div class="form-group">
								<label class="col-sm-2 control-label">名称:</label>
								<div class="col-sm-9">
								    <input type="text" class="form-control" ng-model="env.key" required="required"></input>
								</div>
							</div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">值:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="env.val" required="required"></input>
                                </div>
                            </div>
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					ng-click="closeModal()">取消</button>
				<button type="button" class="btn btn-primary" ng-disabled="form.$invalid"
					ng-click="saveEnv()">确认</button>
			</div>
		</div>
	</div>
</div>
