<div class="content-block panel-block">
    <div class="block-title">事件设定</div>
    <form class="form-horizontal" name="form">
        <input type="hidden" ng-model="entity.id"/>
        <div class="block-content">
            <div class="form-group">
                <label class="col-sm-2 control-label">工程类型：</label>
                <div class="col-sm-8 btn-group">
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='all';entity.legacyProject=false;"
                                ng-class="{'btn-success':entity.projectType=='all'&&!entity.legacyProject}">全部
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='java';entity.legacyProject=false;"
                                ng-class="{'btn-success':entity.projectType=='java'&&!entity.legacyProject}">Java(Maven)
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='gradle'"
                                ng-class="{'btn-success':entity.projectType=='gradle'}">Java(Gradle)
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='java';entity.legacyProject=true;"
                                ng-class="{'btn-success':entity.projectType=='java'&&entity.legacyProject}">Java(其他)
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='npm'"
                                ng-class="{'btn-success':entity.projectType=='npm'}">前端
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='net'"
                                ng-class="{'btn-success':entity.projectType=='net'}">.net
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='initDeploy'"
                                ng-class="{'btn-success':entity.projectType=='initDeploy'}">项目初始化部署
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='dataBaseScript'"
                                ng-class="{'btn-success':entity.projectType=='dataBaseScript'}">数据库脚本
                        </button>
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="entity.projectType='config'"
                                ng-class="{'btn-success':entity.projectType=='config'}">配置文件
                        </button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所属项目组：</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="entity.teamId"
                            required="required"
                            placeholder="项目组"
                            ng-change="getProfilestByTeam()"
                            ng-options="team.id as team.name for team in teams">
                    </select>
                </div>
            </div>
            <div class="form-group" required="required">
                <label class="col-sm-2 control-label">事件类型：</label>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="entity.eventType">
                        <option value="push">代码提交</option>
<!--                        <option value="mergeRequest">申请合并分支</option>-->
                        <option value="merge">分支合并成功</option>
                        <option value="pushTag">打标签</option>
						<option value="applyOnlineAllowed">申请上线通过</option>
						<option value="applyOntestAllowed">申请提测通过</option>
                    </select>
                </div>
				<label class="col-sm-2 control-label">执行流水线：</label>
				<div class="col-sm-3">
					<select class="form-control" ng-model="entity.profileId"
							ng-options="profile.id as profile.allName for profile in teamProfiles">
						<option value="">默认(读取项目设置里的流水线)</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-if="entity.eventType!='applyOntestAllowed' && entity.eventType!='pushTag' && entity.eventType!='applyOnlineAllowed'">
				<label class="col-sm-2 control-label" >来源分支：</label>
					<div class="col-sm-3" >
						<input type="text" class="form-control" ng-model="entity.sourceBranch" placeholder="支持通配符 eg：bugfix-*" />
					</div>
				<label class="col-sm-2 control-label" ng-if="entity.eventType=='mergeRequest'||entity.eventType=='merge'">目标分支：</label>
				<div class="col-sm-3" ng-if="entity.eventType=='mergeRequest'||entity.eventType=='merge'">
					<input type="text" class="form-control" ng-model="entity.targetBranch" placeholder="支持通配符 eg：bugfix-*"/>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">事件描述：</label>
				<div class="col-sm-8">
					<textarea  class="form-control" ng-model="entity.detail"  rows="5"></textarea>
				</div>
			</div>
        </div>
        <div class="block-footer">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">保存
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-default" ng-click="back()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>