<ul class="menu">
    <li class="submenu" ng-click="active($event)">
        <a ui-sref="dashboard" title="项目总览">
            <div>
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-title">项目总览</span>
            </div>
        </a>
    </li>
    <li class="submenu dropdown" dropdown ng-click="active($event)" ng-if="haveRoles('audit','admin')" >
        <a title="项目质量管理" data-toggle="dropdown">
            <div>
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-title">项目质量管理</span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="project-qa" title="质量汇总报表">
                    <div>
                        <i class="menu-icon fa fa-line-chart"></i>
                        <span>质量汇总报表</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="projectGroup.list" title="工程项目分组">
                    <div>
                        <i class="menu-icon fa fa-bars"></i>
                        <span>工程项目分组</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="warn.list" title="定期质量报告设置">
                    <div>
                        <i class="menu-icon fa fa-paper-plane"></i>
                        <span>定期质量报告发送设置</span>
                    </div>
                </a>
            </li>

            <li class="submenu" ng-click="active($event)">
                <a ui-sref="warnRule.list" title="质量预警规则设置">
                    <div>
                        <i class="menu-icon fa fa-cogs"></i>
                        <span>质量预警规则设置</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="guard.list" title="门禁设置">
                    <div>
                        <i class="menu-icon fa fa-columns"></i>
                        <span>门禁设置</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="userStatistic.list" title="开发者活动统计">
                    <div>
                        <i class="menu-icon fa fa-table"></i>
                        <span>开发者活动统计</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="release.list" title="项目提测申请">
                    <div>
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span>项目提测申请</span>
                    </div>
                </a>
            </li>

            <li class="submenu" ng-click="active($event)">
                <a ui-sref="onLine.list" title="项目上线申请">
                    <div>
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span>项目上线申请</span>
                    </div>
                </a>
            </li>

        </ul>

    </li>

    <li class="submenu dropdown" ng-if="haveRoles('admin')">
        <a title="系统管理" data-toggle="dropdown" ng-if="haveRoles('admin')">
            <div>
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-title">系统管理</span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="deveops.list" title="项目组初始化">
                <div>
                    <i class="menu-icon fa fa-spinner"></i> <span>项目组初始化</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="user.list" title="用户设置">
                <div>
                    <i class="menu-icon fa fa-users"></i> <span>用户设置</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="team.list" title="质量阈值管理">
                <div>
                    <i class="menu-icon fa fa-sitemap"></i> <span>质量阈值管理</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="event.list" title="事件设定">
                <div>
                    <i class="menu-icon fa fa-bullseye"></i> <span>事件设定</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="dockerRegistry.list"
                                               title="Docker镜像仓库">
                <div>
                    <i class="menu-icon fa fa-database"></i> <span>Docker镜像仓库</span>
                </div>
            </a></li>
            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="mavenRepo"
                                               title="maven仓库管理">
                <div>
                    <i class="menu-icon fa fa-th-large"></i> <span>maven本地仓库管理</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="systemProperty.list"
                                               title="系统参数设置">
                <div>
                    <i class="menu-icon fa fa-cogs"></i> <span>系统参数设置</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="hostInfo.list"
                                               title="部署主机管理">
                <div>
                    <i class="menu-icon fa fa-laptop"></i> <span>部署主机管理</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="apiSecurity.list"
                                               title="API接入认证">
                <div>
                    <i class="menu-icon fa fa-unlock-alt"></i> <span>API接入认证</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="scmStatisticJob.list"
                                               title="源码仓库活动分析设置">
                <div>
                    <i class="menu-icon fa fa-adjust"></i> <span>源码仓库活动分析设置</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
                ng-if="haveRoles('admin') "><a ui-sref="sysLog.list"
                                               title="操作记录查询">
                <div>
                    <i class="menu-icon fa fa-search"></i> <span>操作记录查询</span>
                </div>
            </a></li>

            <li class="submenu" ng-click="active($event)"
            ><a ui-sref="team-resource.list" title="项目组资源设置">
                <div>
                    <i class="menu-icon fa fa-archive"></i> <span>项目组资源设置</span>
                </div>
            </a></li>


        </ul>
    </li>
    <li class="submenu" ng-click="active($event)">
        <a ui-sref="team.list" title="项目组设置">
            <div>
                <i class="menu-icon fa fa-group"></i>
                <span class="menu-title">项目组设置</span>
            </div>
        </a>
    </li>

    <li class="submenu" ng-click="active($event)" ng-if="haveRoles('admin')">
        <a ui-sref="project.list" title="项目工程设置">
            <div>
                <i class="menu-icon fa fa-cubes"></i>
                <span class="menu-title">项目工程设置</span>
            </div>
        </a>
    </li>

    <li class="submenu dropdown">
        <a title="流水线管理" data-toggle="dropdown">
            <div>
                <i class="menu-icon fa fa-random"></i>
                <span class="menu-title">流水线</span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="pipelineProfile.list" title="构建过程定义">
                    <div>
                        <i class="menu-icon fa fa-tasks"></i>
                        <span>构建过程定义</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="pipeline.list" title="运行流水线">
                    <div>
                        <i class="menu-icon fa fa-random"></i>
                        <span>运行流水线</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="demandBatchImport" title="需求批量上传">
                    <div>
                        <i class="menu-icon fa fa-random"></i>
                        <span>需求批量上传</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="pipeline.history" title="流水线历史记录">
                    <div>
                        <i class="menu-icon fa fa-file-text-o"></i>
                        <span>历史构建记录</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="job.list" title="定时自动构建">
                    <div>
                        <i class="menu-icon fa fa-clock-o"></i>
                        <span>定时自动构建</span>
                    </div>
                </a>
            </li>
            <li class="submenu" ng-click="active($event)">
                <a ui-sref="jobOnline.list" title="上线部署">
                    <div>
                        <i class="menu-icon fa fa-clock-o"></i>
                        <span>上线部署</span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>