<link rel="stylesheet" href="js/angularjs-datetime-picker/wui.min.css"/>

<div class="content-block panel-block">
    <div class="block-title">项目上线信息</div>
    <form class="form-horizontal" name="form">
        <input type="hidden" ng-model="entity.id"/>
        <div class="block-content">
            <div class="form-group col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">上线标题:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="entity.title" readonly="readonly" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上线申请人:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="entity.releaseUserName" readonly="readonly" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">紧急上线:</label>
                    <div class="col-sm-4">
                        <div class="btn-group pull-left col-xs-12" style="padding: 0 0;">
                            <button type="button" class="btn btn-md btn-default" title="会自动在上线部署页面维护好上线任务"
                                    ng-click="entity.immedIatelyOnline='true'"
                                    readonly="readonly"
                                    disabled="disabled"
                                    ng-class="{'btn-info':entity.immedIatelyOnline}">开启</button>
                            <button type="button" class="btn btn-md btn-default" title="需要上线执行人手动维护上线任务"
                                    ng-click="entity.immedIatelyOnline='false'"
                                    readonly="readonly"
                                    disabled="disabled"
                                    ng-class="{'btn-info':!entity.immedIatelyOnline}">关闭</button>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">上线时间:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="entity.releaseDate" readonly="readonly" readonly="readonly"  required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">项目组:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="entity.teamId"
                                required="required"
                                placeholder="请选择redmine上对应的项目组"
                                readonly="readonly"
                                disabled="disabled"
                                ng-options="team.id as team.name for team in redmine.teams">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">迭代版本:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="entity.sprintId"
                                readonly="readonly"
                                disabled="disabled"
                                required="required"
                                placeholder="sprint"
                                ng-change="getApplyOnlineTags()"
                                ng-options="sprint.id as sprint.name for sprint in redmine.sprints">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">提测Tag:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="entity.releaseId"
                                readonly="readonly"
                                disabled="disabled"
                                required="required"
                                placeholder="sprint"
                                ng-options="tag.id as tag.imageTag for tag in release.tags">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">镜像harbor地址:</label>
                    <div class="col-sm-10"><div  id="digest" class="tab-pane fade in active" >
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>digest</th>
                                <th>项目名</th>
                                <th>镜像名称</th>
                                <th>tag</th>
                                <th>命名空间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dockerDigest in dockerDigests">
                                <td><a target="_blank" ng-href="{{dockerDigest.url}}">{{dockerDigest.digest | text_length_set: 10}}</a></td>
                                <td>{{dockerDigest.projectName}}</td>
                                <td>{{dockerDigest.imageName}}</td>
                                <td>{{dockerDigest.tag}}</td>
                                <td>{{dockerDigest.namespace}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" ng-if="entity.dtpReportUrl">手动测试报告:</label>
                    <div class="col-sm-10">
                        <a ng-href="/ci/download?fileId={{entity.dtpReportUrl}}" ng-if="entity.dtpReportUrl">下载</a>
                    </div>
                </div>
                <div class="form-group" ng-if="dtpReports">
                    <label class="col-sm-2 control-label">自动测试报告:</label>
                    <div class="col-sm-10"><div  id="params" class="tab-pane fade in active" >
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th>顺序</th>
                                <th>计划名称</th>
                                <th>测试类型</th>
                                <th>耗时</th>
                                <th>项目名</th>
                                <th>执行结果</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="report in dtpReports | orderBy: 'createTime'">
                                <td>{{$index+1}}</td>
                                <td><a ng-href="{{report.reportUrl}}">{{report.name}}</a></td>
                                <td>{{report.testType}}</td>
                                <td>{{report.elapsedTime/1000}}秒</td>
                                <th>{{report.projectName}}</th>
                                <td>{{report.succeed}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上线描述:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="entity.releaseDetail" readonly="readonly" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-if="entity.batchDetail">
                    <label class="col-sm-2 control-label">审批建议:</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" ng-model="entity.batchDetail" readonly="readonly"  rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div  class="form-group col-sm-6">
                <div class="zTreeDemoBackground col-sm-11">
                    <ul id="issuesTreeBatch" class="ztree" ng-init="getIssuesByReleaseId()"></ul>
                </div>
            </div>
        </div>
        <div class="block-footer" >
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9" >
                    <div class="col-sm-4">
                        <button class="btn btn-primary"  ng-disabled="entity.batchStatus" ng-class="{'btn-success':entity.batchStatus=='SUCCESS'}" ng-click="updateRelease('SUCCESS')"  user-promission="onLine.examine.pass">同意</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-default" ng-disabled="entity.batchStatus" ng-class="{'btn-warning':entity.batchStatus=='FAILED'}" ng-click="updateRelease('FAILED')"  user-promission="onLine.examine.refuse">拒绝</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>