target
.project
.settings
deploy
*.log
*.temp
*.prefs
.classpath
h2/*
h2
*.db
*.iml
*.idea/*
.classpath
generated_code/*
generated_code
rebel.xml
*.log
*.log.*
src/main/resources/rebel.xml


release.properties
pom.xml.releaseBackup